# Default ignored files
/../../Danh sách kề sang danh sách cạnh /.idea/shelf/
/../../Danh sách kề sang danh sách cạnh /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Danh sách kề sang danh sách cạnh /.idea/httpRequests/
# Datasource local storage ignored files
/../../Danh sách kề sang danh sách cạnh /.idea/dataSources/
/../../Danh sách kề sang danh sách cạnh /.idea/dataSources.local.xml
