# Default ignored files
/../../bai9 /.idea/shelf/
/../../bai9 /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../bai9 /.idea/httpRequests/
# Datasource local storage ignored files
/../../bai9 /.idea/dataSources/
/../../bai9 /.idea/dataSources.local.xml
